<aside class="sidebar">

  <ng-container *ngIf="variant === 'company'">
    <div class="sidebar-group">
      <span class="sidebar-label">General</span>
      <a routerLink="../company-dashboard" routerLinkActive="active"><span class="dot"></span>Dashboard</a>
      <a routerLink="../profile-company" routerLinkActive="active"><span class="dot"></span>Company Profile</a>
    </div>
    <div class="sidebar-group">
      <span class="sidebar-label">Hiring</span>
      <a routerLink="../company-post-job" routerLinkActive="active"><span class="dot"></span>Post a Job</a>
      <a routerLink="../company-manage-jobs" routerLinkActive="active"><span class="dot"></span>Manage Jobs</a>
      <a routerLink="../company-applicants" routerLinkActive="active"><span class="dot"></span>Applicants</a>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'seeker'">
    <div class="sidebar-group">
      <span class="sidebar-label">General</span>
      <a routerLink="../jobseeker-dashboard" routerLinkActive="active"><span class="dot"></span>Dashboard</a>
      <a routerLink="/job/all-jobs" routerLinkActive="active"><span class="dot"></span>Browse Jobs</a>
      <a routerLink="/job/saved-jobs" routerLinkActive="active"><span class="dot"></span>Saved Jobs</a>
    </div>
    <div class="sidebar-group">
      <span class="sidebar-label">Career</span>
      <a routerLink="/application/jobseeker-applications" routerLinkActive="active"><span class="dot"></span>My Applications</a>
      <a routerLink="../profile-jobseeker" routerLinkActive="active"><span class="dot"></span>My Profile</a>
      <a routerLink="../profile-jobseeker" routerLinkActive="active"><span class="dot"></span>Resume &amp; Photo</a>
    </div>
  </ng-container>

</aside>
