      <aside class="sidebar">
        <div class="sidebar-group">
          <span class="sidebar-label">General</span>
          <a class="active"><span class="dot"></span>Dashboard</a>
          <a routerLink="../../job/all-jobs"><span class="dot"></span>Browse Jobs</a>
          <a><span class="dot"></span>Saved Jobs</a>
        </div>
        <div class="sidebar-group">
          <span class="sidebar-label">Career</span>
          <a href="seeker-applications.html"><span class="dot"></span>My Applications</a>
          <a href="seeker-profile.html"><span class="dot"></span>My Profile</a>
          <a href="seeker-resume.html"><span class="dot"></span>Resume &amp; Photo</a>
        </div>
      </aside>